<!-- <app-form (click)="searchGifs" ></app-form> -->
<!-- <form  (ngSubmit)="searchGifs(gifform)" #gifform="ngForm" >
    <input class="form-control py-3 " ngModel name="searchBar" type="text" placeholder="Search for all gif and stickers" aria-label="Search">
  
     <button type="submit" >search</button>
  </form> -->

<div class="container mt-3">
    <div class="">
      <div class="content">
          <h2 class="text-white pt-4 text-center">PEACE FOR UKRAINE</h2>
      </div>
      <div class="content-lower"></div>
      <h3 class="text-white my-2">Trending</h3>
     
     
      <div class="images" *ngIf="!loading">
        <div *ngFor="let gif of gifs">
            <img  src="{{gif.images.original.url}}" width="150px" height="150px" alt="">
        </div>
    </div>
    <div class="loader" *ngIf="loading">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
    <h3 class="text-white my-2">Artist</h3>
    <app-artist-gifs></app-artist-gifs>

 <div>
        <button (click)="getMoreGifs(100)" >{{buttonName}}</button>
      </div>
    </div>
  </div>
  
 
  <router-outlet></router-outlet>
